<div class="container px-0 py-3">
  <div class="row justify-content-center">
    <h3>ABOUT THIS WEBSITE</h3>
  </div>
  <hr />
  <div class="lead">
    &nbsp; &nbsp;&nbsp;&nbsp; This is the website about both game review and graphic card online shop.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta libero,
    dolorum fugit quidem esse porro, sit unde illum debitis blanditiis impedit
    itaque repudiandae, nostrum doloremque magnam veritatis eius iusto suscipit
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, et
    voluptatem delectus consectetur nostrum nobis debitis pariatur cum beatae
    aliquid tempora, corrupti illum officia eligendi tempore quia iusto soluta.
    Dignissimos.
  </div>
</div>
