<hr>
<div class="footer bg-dark w-100 mt-4">
  <div class="text-center">
    <div class="border border-dark rounded-sm mb-3">
      <h6 class="text-uppercase text-dark">Contact Us</h6>
    </div>
    <div>
      <p><i class="fa fa-phone"></i> : 09952240422, 09661924040</p>
      <p>
        <i class="fa fa-envelope-open"></i> : 0096-channel@gamingchannel.com
      </p>
    </div>
    <a href="https://www.facebook.com/nialev.reborn.1/"><i class="fa fa-facebook-square fa-2x"></i></a>
    <a href="https://www.twitch.tv/settings/profile"><i class="fa fa-twitch ml-3 fa-2x"></i></a>
    <a href="https://www.instagram.com/yekyaw00/"><i class="fa fa-instagram ml-3 fa-2x"></i></a>
    <a href="https://twitter.com/NialevReborn"><i class="fa fa-twitter ml-3 fa-2x"></i></a>
  </div>
  <p class="text-center text-muted mt-3">
    &copy;2020 0096-CHANNEL, All Rights Reserved.
  </p>
</div>
