<hr>
<div class="footer w-100 px-5 mt-4">
  <div class="text-center">
    <div class="border border-danger rounded-lg mb-3">
      <h6 class="text-uppercase text-white">Contact Us</h6>
    </div>
    <div>
      <p><i class="fa fa-phone"></i> : 098776543, 098726554, 096244351</p>
      <p>
        <i class="fa fa-envelope-open"></i> : 0096-channel@gamingchannel.com
      </p>
    </div>
    <i class="fa fa-facebook-square"></i>
    <i class="fa fa-twitch ml-3"></i>
    <i class="fa fa-instagram ml-3"></i>
    <i class="fa fa-youtube-play ml-3"></i>
    <i class="fa fa-twitter ml-3"></i>
  </div>
  <p class="text-center text-muted mt-4">
    &copy;2020 0096-CHANNEL, All Rights Reserved.
  </p>
</div>
