<div class="container py-3 px-0">
  <div class="row justify-content-center">
    <div
      *ngIf="errorMessage"
      class="alert alert-danger alert-dismissible fade show"
      role="alert"
    >
      <strong>{{ errorMessage }}</strong>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="w-100"></div>
    <div class="col-md-5 border border-light">
      <div class="border border-dark rounded-lg">
        <h4 class="text-center login">Login to your account!</h4>
      </div>
      <hr />
      <form (ngSubmit)="signIn(signInForm)" #signInForm="ngForm">
        <div class="row justify-content-between mt-4">
          <div class="col-md-3 mt-1 mb-1">
            <label><strong>Email:</strong></label>
          </div>
          <div class="col-md-9">
            <input
              type="id"
              placeholder="Enter Login ID"
              class="form-control"
              ngModel
              name="email"
              required
            />
          </div>
        </div>
        <div class="form-group">
          <div class="row justify-content-between mt-4">
            <div class="col-md-3 mt-1 mb-3">
              <label><strong>Password:</strong></label>
            </div>
            <div class="col-md-9">
              <input
                type="password"
                placeholder="Enter your password"
                class="form-control"
                ngModel
                password
                name="password"
                required
                #password="ngModel" required
              />
            </div>
            <span *ngIf="password.errors?.password" class="text-danger"
              >Password is not match!</span
            ><br />
            <span
              *ngIf="password.invalid && password.touched"
              class="text-danger"
              >Password is required!</span
            >
          </div>
        </div>
        <div class="form-row justify-content-center">
          <div class="col-md-3">
          <button
            type="submit"
            class="text-center btn btn-outline-dark rounded-lg mb-3 mt-2"
            [disabled]="!signInForm.valid"
          >
            Log in
          </button>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>
