<div class="container px-0 py-3">
  <div class="card text-white bg-dark m-3">
    <div class="card-header">Is this website legit ?</div>
    <div class="card-body">
      <p class="card-text">
        &nbsp; &nbsp; &nbsp;&nbsp; This website is supported from abc graphic card store
        directly. You can shop with safety from our website.
      </p>
    </div>
  </div>
  <div class="card text-white bg-dark m-3">
    <div class="card-header">How are the games rated ?</div>
    <div class="card-body">
      <p class="card-text">
        &nbsp; &nbsp; &nbsp;&nbsp; The game are not rated by scores. We just review the game
        content and specification of the game.
      </p>
    </div>
  </div>
  <div class="card text-white bg-dark m-3">
    <div class="card-header">Is the shopping can get delivery ?</div>
    <div class="card-body">
      <p class="card-text">
        &nbsp; &nbsp; &nbsp;&nbsp; Normally, we don't have delivery but if the customer is
        willing to get delivery, we deliver the product with delivery service
        fees.
      </p>
    </div>
  </div>
</div>
