<div class="container mt-4">
  <div class="form-row">
    <div class="col-md-8">
      <h4>YOUR CART</h4>
      <hr />

      <div
        class="card mb-3 ml-3"
        style="max-width: 700px"
        *ngFor="let purchase of purchase; let i = index"
      >
        <div class="row no-gutters">
          <div class="col-md-6">
            <img
              [src]="purchase.graphicCard.image[2]"
              class="card-img m-2"
              alt="..."
            />
          </div>
          <div class="col-md-5 ml-2">
            <div class="card-body">
              <h5 class="card-title">{{ purchase.graphicCard.title }}</h5>
              <p>
                <strong>Price : </strong> {{ purchase.graphicCard.price }} $
              </p>
              <div class="col-md-6">
                <div class="form-check-inline">
                  <button
                    class="btn btn-secondary btn-sm"
                    (click)="shoppingCart.addToCart(purchase.graphicCard)"
                  >
                    <i class="fa fa-plus"></i>
                  </button>
                  <input
                    type="text"
                    class="form-control text-center m-3 qtybox"
                    value="{{purchase.quantity}}"
                  />
                  <button
                    class="btn btn-secondary btn-sm"
                    (click)="shoppingCart.subFromCart(purchase.graphicCard)"
                  >
                    <i class="fa fa-minus"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4" *ngIf="shoppingCart.cartSize">
      <h4>CHECKOUT DETAIL</h4>
      <hr />
      <table class="table">
        <tr>
          <td class="font-weight-bold">Sub Total</td>
          <td class="text-right">{{ shoppingCart.subTotal }} $</td>
        </tr>
        <tr>
          <td class="font-weight-bold">Tax</td>
          <td class="text-right">{{ shoppingCart.tax }} $</td>
        </tr>
        <tr>
          <td class="font-weight-bold">Total</td>
          <td class="text-right">{{ shoppingCart.total }} $</td>
        </tr>
      </table>
      <button class="btn btn-block btn-outline-danger" (click)="checkOut()">
        Check Out
      </button>
    </div>
  </div>
</div>
