img{
    width: 310px;
    height: 280px;
}

*{
    width: 100%;
}

.cart{
    color: #f1ec0e;
}

.border{
    background-color: #0a494d;
}

td{
    width: 200px;
}

.qtybox{
    width: 60px;
}

.btn{
    background-color:  #cdd728;
}

.checkout{
 
}
