<div class="container mt-3" *ngIf="shoppingCart.cartSize">
  <div class="form-row">
    <div class="col-md-2">
      <div class="border border-dark text-center rounded-pill">
        <p class="my-1 cart"><strong><i class="fa fa-shopping-cart">&nbsp; YOUR CART </i></strong></p>
      </div>
    </div>
  </div>
  <div class="form-row mt-1">
    <div
      class="card mb-3 mr-4"
      style="max-width: 700px"
      *ngFor="let purchase of purchase; let i = index"
    >
      <div class="row no-gutters">
        <div class="col-md-6">
          <img
            [src]="purchase.graphicCard.image[1]"
            class="card-img m-2"
            alt="..."
          />
        </div>
        <div class="col-md-5 m-3">
          <div class="card-body">
            <h5 class="card-title">{{ purchase.graphicCard.title }}</h5>
            <p><strong>Price : </strong> {{ purchase.graphicCard.price }} $</p>
            <div class="col-md-6">
              <div class="form-check-inline">
                <button
                  class="btn btn-outline-light btn-sm"
                  (click)="shoppingCart.addToCart(purchase.graphicCard)"
                >
                  <i class="fa fa-plus"></i>
                </button>
                <input
                  type="text"
                  class="form-control text-center m-3 qtybox"
                  disabled
                  value="{{ purchase.quantity }}"
                />
                <button
                  class="btn btn-outline-light btn-sm"
                  (click)="shoppingCart.subFromCart(purchase.graphicCard)"
                >
                  <i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 checkout" >
      <h4>CHECKOUT DETAIL</h4>
      <hr />
      <table class="table">
        <tr>
          <td class="font-weight-bold">Sub Total</td>
          <td class="text-right">{{ shoppingCart.subTotal }} $</td>
        </tr>
        <tr>
          <td class="font-weight-bold">Tax</td>
          <td class="text-right">{{ shoppingCart.tax }} $</td>
        </tr>
        <tr>
          <td class="font-weight-bold">Total</td>
          <td class="text-right">{{ shoppingCart.total }} $</td>
        </tr>
      </table>
      <div  *ngIf="authService.isLogin && authService.role == 'CUSTOMER'">
      <button class="btn btn-outline-dark rounded-lg" (click)="checkOut()" >
        Check Out
      </button>
  </div>
    </div>
  </div>
</div>
