<div class="container mt-3">
  <div class="form-row">
    <div class="col-md-6">
      <div
        id="carouselExampleIndicators"
        class="carousel slide border pt-2 pb-2"
        data-interval="3000"
        data-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#carouselExampleIndicators"
            data-slide-to="0"
            class="active"
          ></li>
        </ol>
        <div class="carousel-inner">
          <div
            class="carousel-item active"
            [ngClass]="{ active: i == 0 }"
            *ngFor="let image of graphicCards.image; let i = index"
          >
            <img class="d-block w-100" [src]="image" alt="" />
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-md-5 ml-3">
      <div class="text-left">
        <h4>{{ graphicCards.title }}</h4>
      </div>
      <hr>
      <div class="table-responsive-md">
      <table class="table table-borderless table-sm">
        <tbody>
          <tr>
            <th scope="row" class="w-25">Released Date</th>
            <td>{{graphicCards.year}}, {{graphicCards.quarter}}</td>
          </tr>
          <tr>
            <th scope="row" class="w-25">Brand</th>
            <td>{{graphicCards.chipsetBrand}} / {{graphicCards.productBrand}}</td>
          </tr>
          <tr>
            <th scope="row" class="w-25">Memory</th>
            <td>{{graphicCards.ramType}}</td>
          </tr>
          <tr>
            <th scope="row" class="w-25">Output</th>
            <td>{{graphicCards.totalPorts}}</td>
          </tr>
          <tr>
            <th scope="row" class="w-25">About Item</th>
            <td>{{graphicCards.aboutItem}}</td>
          </tr>
          <tr>
            <th scope="row" class="w-25">Price</th>
            <td>{{graphicCards.price}}$</td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-outline-dark rounded-lg mt-3" (click)="addToCart(graphicCards)">Add to Cart <i class="fa fa-cart-plus"></i></button>
    </div>
</div>
