<div class="container py-3 px-0">
  <div class="row justify-content-center">
    <div class="border border-dark rounded-lg">
      <div class="text-center text m-2">
        <h4>NEW GAME REVIEW</h4>
      </div>
    </div>
  </div>
  <hr />
  <div class="container w-75">
    <form [formGroup]="reviewForm">
      <div class="form-row mb-3 mt-4 justify-content-start">
        <div class="col-md-5 mb-3">
          <h6>Title</h6>
          <input type="text" class="form-control" formControlName="title" required/>
        </div>
        <div class="col-md-3 ml-4 mb-3">
          <h6>Released Date</h6>
          <input
            type="date"
            class="form-control"
            formControlName="releasedDate" required
          />
        </div>
        <div class="col-md-3 ml-4 mb-3">
          <h6>Mode</h6>
          <select class="custom-select" formControlName="mode">
            <option *ngFor="let m of mode" [value]="m">
              {{ m | uppercase }} required
            </option>
          </select>
        </div>
      </div>

      <div class="form-row mt-2 justify-content-start">
        <div class="col-md-4 mb-3">
          <h6>Platform</h6>
          <input type="text" class="form-control" formControlName="platform" required/>
        </div>

        <div class="col-md-3 ml-4 mb-3">
          <h6>Game Engine</h6>
          <input
            type="text"
            class="form-control"
            formControlName="gameEngine" required
          />
        </div>

        <div class="col-md-4 ml-4 mb-3">
          <h6>Published Company</h6>
          <input
            type="text"
            class="form-control"
            formControlName="publishedCompany" required
          />
        </div>
      </div>

      <div class="form-row mt-2 justify-content-start">
        <div class="col-md-4 mb-3">
          <h6>Card Photo</h6>
          <input
            type="file"
            multiple
            class="form-control-file"
            multiple
            accept="image/*"
            #image required
          />
        </div>
        <div class="col-md-7 ml-4 mb-3">
          <h6>Genre</h6>
          <input type="text" class="form-control" formControlName="genre" required/>
        </div>
      </div>

      <div class="form-row mt-2 mb-3 justify-content-start">
        <div class="col-md-12 mb-3">
          <h6>About Game</h6>
          <textarea
            class="form-control aboutGame"
            formControlName="aboutGame" required
          ></textarea>
        </div>
      </div>

      <div class="form-row mt-2">
        <div class="col-md-12 mb-3">
          <h6>Minimum Requirement</h6>
          <textarea
            class="form-control"
            formControlName="minimumRequirement" required
          ></textarea>
        </div>
      </div>

      <div class="form-row mt-2">
        <div class="col-md-12 mb-3">
          <h6>Recommended Requirement</h6>
          <textarea
            class="form-control"
            formControlName="maximumRequirement" required
          ></textarea>
        </div>
      </div>

      <div class="form-row justify-content-end">
        <button
          class="col-md-2 text-center  btn btn-outline-dark rounded-lg mt-4 mr-3"
          (click)="save(image.files)"
          type="button"
        >
          Save
        </button>
        <button
          class="col-md-2 text-center btn btn-outline-dark rounded-lg mt-4"
          (click)="cancel()"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
