img{
    width: 50px;
    height: 50px;
}

.nav-item, .nav-link {
    color: #f1ec0e;
    width: 100%;
    text-shadow: 1px 1px 2px #f1ec0e;
}

.fa-shopping-cart, .badge{
    color: #f1ec0e;
}

.btn {
    background-color: #f1ec0e;
   
}
