<nav class="navbar nav-justified navbar-expand-lg nav-bg">
  <a class="navbar-brand" [routerLink]="['/home']"
    ><img src="../../../assets/image/V-logo-png.png"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse text-center justify-content-between w-100"
    id="navbarSupportedContent"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink='/home'
          >HOME <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/faq'>FAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/about'>ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/graphic-card">PURCHASE</a>
      </li>
      <li
        class="nav-item"
        *ngIf="authService.isLogin && authService.role == 'ADMIN'"
      >
        <a class="nav-link" routerLink="/invoices">INVOICES</a>
      </li>
    </ul>

      <div class="row justify-content-sm-center mx-3 my-3">
        <input
          class="form-control text-secondary"
          type="search "
          
          placeholder="Search "
          aria-label="Search"
          (keyup.enter)="search($event.target.value)"
        />
    </div>

    <ul class="navbar-nav">
      <div class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          class="nav-link mx-3"
          *ngIf="authService.isLogin && authService.role == 'ADMIN'"
          ><i class="fa fa-plus"></i> NEW
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/review/game-review-form']"
            >Games</a
          >
          <a class="dropdown-item" [routerLink]="['/graphic-card-form']"
            >Graphic Cards</a
          >
        </div>
      </div>
    </ul>

    <div *ngIf="!authService.isLogin">
      <button type="button" class="btn btn-sm btn-outline-dark" routerLink="sign-in">
        Login <i class="fa fa-sign-in"></i>
      </button>

      <button
        type="button"
        class="btn btn-outline-dark btn-sm mx-2"
        routerLink="sign-up"
      >
        SignUp <i class="fa fa-user-plus"></i>
      </button>
    </div>

    <button
      type="button"
      class="btn btn-outline-dark btn-sm ml-2"
      (click)="logout()"
      *ngIf="authService.isLogin"
    >
      Logout <i class="fa fa-sign-in"></i>
    </button>

    <div class="text-center">
      <a class="nav-link" routerLink="/cart"
        ><i class="fa fa-shopping-cart fa-2x"></i
        ><small class="badge badge-pill">
          {{ shoppingCart.cartSize }}
        </small></a
      >
    </div>
  </div>
</nav>
